header .header-info p {
  color: #c7c7c7;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
}

body[data-path="blog"] .page-header,
body[data-path="blog"] .page-breadcrumbs,
body[data-path="blog"] .page_content > p {
  display: none;
}

.container.my-5 {
  margin-top: 0 !important; /* csslint allow: known-properties, important */
}

.website-list .result {
  border-bottom: 0;
}

header.header {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  margin-bottom: 4.375rem;
  background-size: cover;
  padding-top: 11.06rem;
  padding-bottom: 11.75rem;
}

header .header-info h2 {
  color: #fff;
  font-size: 32px;
  line-height: 39px;
  max-width: 410px;
}

header .header-info a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
